*.o
.vscode/
gov/libusgov.so
govx/us-gov
wallet/libuswallet.so
walletx/us-wallet
.idea/*
*/**/.idea/*
test/a.out
test/unit_tests
android_studio/
valgrind-out.txt
*.out
android/local.properties
android/.gradle/
cash/android/android_sdk/
secp256k1
fastcgi++
build
